.card{
    border: 0;
   
    border-radius: 0;
  
}

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background:rgb(241, 241, 241) 
}

/*.container{
    height: 100vh;
    width: 100%;
    background: url(Preloader.gif) no-repeat center center;
    background-size:30%;
}*/

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

#loading{
    
    width: 3rem;
    height:3rem;
    border: 5px solid #f3f3f3;
    border-top:6px solid #9c41f2;
    border-radius: 100%;
    margin:auto;
    visibility:hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility:visible;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}